---
layout: default
---
<!doctype html>
<html lang="en">
	<head>
        <title>Writing in Tech</title>
                
    </head>
  
    <body>
        <h1> Writing in Tech </h1>
	    <br> <br>
	    <h3> I write in three main categories: </h3>
	    <h4>
	<ul>
		<li>Explain Like I'm Five</li> I pretend to explain data engineering concepts to my five year old nephew to challenge myself
		<li>Women in Tech</li> I write about concerns or thoughts I have that pertain to being a woman in tech
		<li>Engineering</li> I write about generals engineering concepts or trends
	</ul> 
	    </h4>
     <br/>
	
	    
<h3> Posts by Category <h3>
<h4> Explain Like I'm 5 Blog Posts <h4>
{% for post in site.posts  %}
{% if post.categories contains "ELI5" %}
  <article>
    <h5>
      <a href="{{ post.url }}">
	{{ post.title }}
      </a>
    </h5>
  </article>
{% endif %}
{% endfor %}
<hr>
<h4> Posts about Women in Tech <h4>
{% for post in site.posts  %}
{% if post.categories contains "WiT" %}
  <article>
    <h5>
      <a href="{{ post.url }}">
	{{ post.title }}
      </a>
    </h5>
  </article>
{% endif %}
{% endfor %}
<hr>
<h4> Other Posts <h4>
{% for post in site.posts  %}
{% if post.categories contains "Engineering" %}
  <article>
    <h5>
      <a href="{{ post.url }}">
	{{ post.title }}
      </a>
    </h5>
  </article>
{% endif %}
{% endfor %}
	
