---
layout: default
---
<!doctype html>
<html lang="en">
	<head>
        <title>Writing in Tech</title>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112486152-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-112486152-1');
        </script>
                
    </head>
  
    <body>
        <h1> Writing in Tech </h1>
            <br/>
      {% for post in site.posts limit:1 %}
  <article>
    <h2>
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>
    <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
    {{ post.content }}
  </article>
{% endfor %}  
	    
	    
<h3> Archive <h3>
{% for post in site.posts%}
  <article>
    <h4>
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h4>
    <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
  </article>
<br><br>
{% endfor %}
		
<h3>Comments</h3>

<form method="POST" action="https://api.staticman.net/v2/entry/alisaraa/alisaraa.github.io/master/comments">
  <input name="options[redirect]" type="hidden" value="https://www.alisa-in.tech/writing">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <label>Name*</label><input name="fields[name]" type="text">
  <label>E-mail*</label><input name="fields[email]" type="email">
   <br>
  <label>Comment*</label><textarea name="fields[message]" rows=5></textarea>
  
  <button type="submit">Submit Comments!</button>
</form>
	    
<hr><br>
<ul>
{% for c_hash in site.data.comments %}
{% assign comment = c_hash[1] %}
  <li>
      Name: {{ comment.name }} 
      | 
      <time datetime="{{ comment.date | date: "%Y-%m-%d" }}">{{ comment.date | date_to_long_string }}</time>
      <br>
      Message: {{ comment.message }}
      <hr>
  </li>
{% endfor %}
</ul>
