<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">home</a></li>
<li><a href="/running">running</a></li>
<li><a href="/reading">reading</a></li>
<li><a href="/writing">(w)riting</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:alisa@alisa-in.tech">alisa@alisa-in.tech</a></li>
   <li><a href="https://github.com/alisaraa">github.com/alisaraa</a></li>
   </ul>
  </footer>
  </body>

</html>
