<!DOCTYPE html>
<html>
  <head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112486152-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112486152-1');
    </script>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">home</a></li>
<li><a href="/running">running</a></li>
<li><a href="/reading">reading</a></li>
<li><a href="/writing">writing</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:alisa@alisa-in.tech">alisa@alisa-in.tech</a></li>
   <li><a href="https://github.com/alisaraa">github.com/alisaraa</a></li>
   <li><a href="https://www.linkedin.com/in/alisa-aylward-266aa3a1/">linkedin</a></li>
   </ul>
  </footer>
  </body>

</html>
