---
layout: post
---
<!doctype html>
<html lang="en">
	<head>
        <title>{{ page.title | escape }}</title>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112486152-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-112486152-1');
        </script>
        <nav>
        <ul><a href="/">home</a>
            <a href="/writing">all posts</a>
        </ul>
        </nav>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="/alisaraa.github.io/assets/css/style.scss">
		
    </head>
      <body>
        
        <div class="wrapper">
		      <main>
                <article>
	<h1>{{ page.title | escape }}</h1>    
{{ content }}
			      </article>
		</main>
  </body>
</div>
