---
layout: default
---
<!doctype html>
<html lang="en">
	<head>
        <title>{{ page.title}}</title>

    </head>
	
<div class="post">
  <header style = "position: static;">
    <h1 >{{ page.title }}</h1>
  </header>
	<br><br><br><br><br>
  <article class="post-content">
    {{ content }}
  </article>
<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-theme="habr" data-i18n_like="Like" data-ef_voting="heartbeat" data-voting_frequency="1" data-group_identifier="Like" data-popup_style="dark"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
</div>
<hr><br>
<h2>More Posts like This<h2>
{% for post in site.posts  %}
<!-- {% if post.categories contains page.categories %} -->
  <article>
    <h5>
      <a href="{{ post.url }}">
	{{ post.title }}
      </a>
    </h5>
  </article>
 <!--  {% endif %} -->
{% endfor %}
