---
layout: post
---
<!doctype html>
<html lang="en">
	<head>
        <title>{ page.title | escape }}</title>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112486152-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-112486152-1');
        </script>
        <nav>
        <ul><a href="/">home</a>
            <a href="/writing">all posts</a>
        </ul>
        </nav>

<body>
{{ content }}
  </body>
